html,
body {
  height: 100%;
  font-size: 18px;
}

.flex-container {
  background-color: yellow;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: center;
  list-style: none;

  -webkit-flex-flow: column;
}

.flex-item {
  h1 {
    font-size: 1.4em;
    color: tomato;
  }
  form {
    background: tomato;
    padding: 20px;
    font-size: 1em;
    .form-control {
      background-color: yellow;
      border: none;
      border-radius: 0;
    }
    & input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
      background-color: yellow !important;
      border: none;  
    }
    &:focus {
      box-shadow: 0;
    }
    label {
        font-weight: 400;
        color: #fff;
    }
    button {
      font-size: 1em;
      width: 100%;
      max-width: 280px;
      color: #fff;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 0;
      margin-top: 10px;
      transition: all 0.4s ease-in-out;
      letter-spacing: 1px;
      
      &:hover {
        background-color: transparent;
        border-radius: 8px;
        border: 2px solid #fff;
        color: #fff;
      }
    }
  }
  &.sign-up {
    h1 {
      color: #4caf50;
    }
    form {
      background: #4caf50;
    }
  }
}